name: GoFmt

on:
  push:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Install goimports
        run: go install golang.org/x/tools/cmd/goimports@latest

      - name: Run goimports
        run: goimports -w .

      - name: Run gofmt
        run: gofmt -s -l -w .

      - name: Submit if there are changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "goimports && gofmt"
          file_pattern: 'go.mod go.sum *.go **/*.go'